body {
  display: flex;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  background-color: black;
  color: hotpink;
}

#sign-in-screen {
  background-color: indigo;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  margin: 5vw;
  padding: 5vw 10vw;
  min-width: fit-content;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  column-gap: 2vw;
  column-count: 2;
  column-width: auto;
  height: 100vw;
}

.display-section {
  background-color: black;
  width: auto;
  height: 50vh;
  padding: 5vw;
  margin: 1vw;
}

.hidden {
  display: none;
}

.destination-image {
  height: 20vh;
}

article {
  background-color: black;
  width: auto;
  height: 50vh;
  padding: 5vw;
  margin: 1vw;
}